*{
    margin: 0;
    padding: 0;
}
#contenerdor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr 3fr 2fr;
    height: 100px;
}
#VERDE{
    width: 250px;
    height: 100vh;
    background-color: green;
}

#BLANCO{
    width: 250px;
    height: 100vh;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

#ROJO{
    width: 250px;
    height: 100vh;
    background-color: red;
}