*{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3fr 2fr 3fr;
    height: 100px;
}
.VERDE{
    width: 500px;
    height: 100vh;
    background-color: green;
}

.BLANCO{
    width: 500px;
    height: 100vh;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.BLANCO img{
    width: 420px;
}

.ROJO{
    width: 500px;
    height: 100vh;
    background-color: red;
}