*{
    margin: 0;
    padding: 0;
}
.contenedor{
    
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.Verde {

    background-color: green;
    width: 510px;
    height: 100vh;
}
.Blanco{
    width: 510px;
    height: 100vh;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.Blanco img{
    width: 320px;
}
.Rojo {
    width: 510px;
    height: 100vh;
    background-color: red;
    
}